* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    background-color: hsl(30, 38%, 92%);
}

main {
    padding: 6% 25%;
}

.body {
    display: flex;
}
.mobile{
    padding: 0;
    margin: 0;
}

.f1 img{
    border-radius: 20px 0 0 20px;
    width: 450px;
    height: 500px;
}

.f2 {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 0 20px 20px 0;
}

.f2a h3 {
    font-weight: 100;
    letter-spacing: 5px;
    opacity: 0.7;
}

.f2a h1 {
    font-size: 35px;
    width: 250px;
    padding: 30px 0;
}

.f2a p {
    font-size: 18px;
    opacity: 0.7;
    width: 270px;
    line-height: 25px;
}

.f2b {
    display: flex;
    padding: 30px 0;
    gap: 20px;
}

.f2b h2 {
    font-size: 35px;
    color: #3c8067;
}

.f2b h4 {
    font-size: 15px;
    padding: 12px 0;
    text-decoration: line-through;
    opacity: 0.7;
}

button {
    background: #3c8067;
    border: none;
    padding: 13px 70px;
    font-size: 15px;
    color: antiquewhite;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
    background: #134432;
}

@media only screen and (max-width: 1200px) {
    .body{
        flex-wrap: wrap;
        width: 100%;
    }
main{
    margin: 0;
    padding: 0;
    
}
    .f1 img{
        width: 520px;
        height: 350px;
        border-radius: 35px 35px 0 0;
        padding: 20px 20px 0 20px;

    }
    .f2{
        margin-left: 20px;
        width: 480px;
        border-radius: 0 0 10px 10px;
        padding-bottom: 30px;
        /* padding-top:0 ; */
    }

    .f2a h1{
        font-size: 33px;
        width: 500px;
        padding-left: 20px;
    }
    .f2a p{
    font-size: 18px;
    opacity: 0.7;
    width: 370px;
    line-height: 25px;
    padding-left: 20px;
    }
    .f2a h3 {
        padding-left: 20px;
    }

    .f2b h2 {
        padding-left: 20px;
    }

}
button{
    width: 90%;
    margin-left: 20px;
    padding: 20px;
}